<%- include('./partials/header') %>
<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Welcome To AJ Film Clup</h1>
        <p class="lead">We find real stories and turn them to great films.</p>
        <hr class="my-4">
        <p>Please support us!</p>
        <a class="btn btn-primary btn-lg" href="/contactUs" role="button">Learn more</a>
      </div>



    <h1>Info will go here!</h1>

</div>
    
<%- include('./partials/footer') %>